.sidebar  {
  display: flex;
  flex-direction: column;
  background: #BDBDBD;
  width: 150px;
  height: 1028px;
  box-sizing: border-box;
  padding: 35px 0px 0px 20px;

  .sortTitle  {
    width:fit-content
  }
}

.sidebar > *:not(:last-child) {
  margin-bottom: 10px;
}

