.profileContent {
  display: flex;
  flex-direction: column;
  max-width: 438px;
  min-height: 463px;
  box-sizing: content-box;

  .fillArea {
    border: 1px solid #f3f3f3;
    border-radius: 8px;
  }

  .formList {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 12px;
  }

  .submitArea {
    align-self: flex-end;
    margin-top: 10px;
  }
}
